
.lang-menu {
    width: 100px;
    text-align: right;
    font-weight: bold;
 
    position: relative;
}
.lang-menu .selected-lang {
    display: flex;   
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
    
}
.lang-menu  .selected-lang:before {
    content: '';
    display: inline-block;
    width: 38px;
    height: 30px;
   
    background-size: contain;
    background-repeat: no-repeat;
    
}
.en::before{
    background-image: url("./flags/us.svg");
    
}
.ar::before{
    background-image: url("./flags/dz.svg");
}
.fr::before{
    background-image: url("./flags/fr.svg");
}

.de::before{
    background-image: url("./flags/de.svg");
    /* background-image: url(https://www.countryflags.io/de/flat/32.png); */

}
.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 35px;
    left: 0px;
    width: 50px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}



.lang-menu:hover ul  {
    display: block;
}


.active ul{
    display: block;
}