@import '../../../utils/styles/static';


.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  // opacity: 0;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;

  

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    animation: fadeIn 8s;
    transform: rotateZ(30deg) !important;
    z-index: 1;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0; }
 
  100% { opacity: 1; }
}
// .svg-container {
//   stroke: $primary-color;
//   stroke-width: 10;
// }
$breakpoint-tablet: 480px;


@media (max-width: 600px) {
  .solid-logo{
    display:none;
  }
}
// @media (max-width: $breakpoint-tablet) {
//   .logo-container{
//     display: none;
//   }
// }